extends layout

block content
    .container
        .row.mb-5
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
        .row
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
            .col
                .card
                    .card-body
                        h5.card-title Product
                        p.card-text Rp. 2000
                    .card-footer
                        Footer
                            button.btn.btn-primary Add To Cart
    